/* G L O B A L */

* {
  text-align: center;
  background-color: black;
  color: #FFFFFF;
}

html {
  font-family: Helvetica, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

button {
  font-family: helvetica, sans-serif;
  padding: 15px;
}

/* T E X T */

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.6em;
  width: 80%;
  margin: auto;
}

h2 {
  font-size: 3em;
  font-family: Helvetica, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
}


footer {
  margin: 20px;
  padding: 200px 0px 70px 00px;
  float: center;
  text-align: center;
  font-style: italic;
  font-size: 0.5em;

}



/*  M E D I A  */

.player {
  width: 85%;
  margin: auto;
}

.header-image {
  width: 100%;
  float: center;
}


/*  T A B L E S  */

table {
  border-collapse: collapse;
  width: 100%;
}

.navCell {
  display: block;
  padding: 10px;
  font-size: 1.6em;
  line-height: 3em;
}

.navCell:hover {
  background-color: white;
  color: #000000;
}